.navbar-orange {
    background-color:  #ff503e;
}

.navbar-orange .navbar-toggler,
.navbar-orange  a {
  color: #ffffff;
  border-color: #ffffff;
}

.app-icon {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}