<!-- Bigger Container -->
<div class='card card-body bg' *ngIf='checked1'>
  <!-- Info Container -->
  <a class="breadcrumb" [routerLink]="['/journeys', name]">
    <span class="oi oi-arrow-left arrow"> Journeys</span><span> / {{ name }}</span>
  </a>
  
  <div class="container bw" *ngIf='checked1'>
    <div>
      <!-- Title -->
      <div class="row">
        <h2 class="title">{{ taskDetails.name }}</h2>
      </div>
      <hr>
      <div class="row">
        <!-- Carousel & Map -->
        <div class="col-md-6 ml-auto mr-auto">
          <app-gallery 
            [_photos]='taskDetails.photos'>
          </app-gallery>
        </div>

        <div class="col-md-6 ml-auto mr-auto">
          <app-google-maps 
            [_lat]="taskDetails.coordinates.latitude" 
            [_lng]="taskDetails.coordinates.longitude" 
            [_businessName]="taskDetails.name">
          </app-google-maps>
        </div>
      </div>
      <hr>
      <div class="row">
        <!--descripción-->
        <div class="col-md-8">
          <p>Challenge Description</p>
          <p>Generic Information</p>
          <div>
            <button class="btn">Resend Text notification</button>
          </div>
        </div>

        <!-- Restaurant Info -->
        <div class="container col-md-4 info bl">
          <div class="ml-auto mr-auto">
            <div>
              <p class="hours">Today:</p>
              <p class="text-medium rating">
                {{ taskDetails.hours[0].open[0].start | openHours }} - {{ taskDetails.hours[0].open[0].end | openHours }}
              </p>

              <p class="rating" *ngIf='taskDetails.is_closed == false'>
                <span class="green">Open now</span>
              </p>

              <p class="rating" *ngIf='taskDetails.is_closed == true'>
                <span class="red">Closed now</span>
              </p>
            </div>
            <hr>
            <div>
              <p class="text-medium link">
                <span class="oi oi-phone"></span>
                <a class="text-medium link" href="tel:{{ taskDetails.phone }}">{{ taskDetails.display_phone }}</a>
              </p>
              <p class="text-medium link rating">
                <span class="oi oi-external-link"></span>
                <a class="text-medium link" href="{{ taskDetails.url }}"> {{ taskDetails.name }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Buttons -->
  <div class='card card-body bg'>
    <div class="row container bg ml-auto mr-auto">
      <div class="col-md-3">
        <button class="btnc" [routerLink]="['/journeys', name, previousTask.taskData.id]"
          *ngIf="previousTask" (click)='goToPrevious();'>
          Previous
        </button>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="btnb started" *ngIf='currentTask.isCurrentTask == false && currentTask.completed == false' 
          (click)="toggleTask()">
          Mark as Started
        </div>
        <div class="btnb completed" *ngIf='currentTask.isCurrentTask == true && currentTask.completed == false' 
          (click)="toggleTask()">
          Mark as Completed
        </div>
        <div class="btnb disabled" *ngIf='currentTask.isCurrentTask == false && currentTask.completed == true'>
          You have succesfully finished the challenge!
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 bg">
        <button class="btnc" [routerLink]="['/journeys', name, nextTask.taskData.id]" 
          *ngIf="currentTask.completed && nextTask" (click)='goToNext();'>
          Next Task
        </button>
      </div>
    </div>
  </div>

</div>