.btn {
    border: none; /* Remove borders */
    color:white; /* Add a text color */
    padding: 14px 60px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #ff503e;
    border-radius:0;
}