.btn {
    border: none; /* Remove borders */
    color:white; /* Add a text color */
    padding: 14px 60px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #ff503e;
    border-radius:0;
}
.toolTip{
    height: 30px;
    background-color:rgba(0, 0, 0, 0.363);
    color:white;
    font-weight: bold;
    position: relative;
    display: inline-block;
    top: -30px;
    margin-bottom: -30px;
    cursor: pointer; 
    border-radius:0;
}
.BannerHeightB {
    height: 250px;
}
.BannerHeightA {
    height: 150px;
}
.bannerHeightC{
    height: 150px;
}
.textBlack{
    color: black !important;
}
