<header>
  <nav class="navbar d-flex navbar-orange">
    <a class="navbar-brand mr-auto" href="#">{{navbarBrandTitle}}
      <!--img class="app-icon" src='assets/Icons/icon-white.png'-->
    </a>

    <ul class="nav navbar-nav pr-5">
      <li class='nav-item text-center pr-5 pl-5' *ngIf='!loggedIn'>
        <a href='#' class='nav-link' [ngbPopover]='loginFormPopover' popoverTitle='Login' placement='bottom'>Login <span class="oi oi-caret-bottom"></span></a>
        <!--Login form popover-->
        <ng-template #loginFormPopover id='loginFormPopoverTemplate'>
          <div class='row'>
            <form [formGroup]='loginForm' class='col-md-12' (ngSubmit)='login()' novalidate>
              <div class='form-group'>
                <input class='form-control' placeholder='Username' type='text' formControlName='username'>
              </div>
              <div class='form-group'>
                <input class='form-control' placeholder='Password' type='password' formControlName='password'>
              </div>
              <div class='form-group'>
                <button class='form-control' class='btn btn-primary btn-block' type='submit'>Login</button>
              </div>
              <div class='row'>
                <div class='col-md-12'>
                  <p class='text-center'>
                    <strong>Or</strong>
                  </p>
                  <hr>
                </div>
              </div>
              <div class='row'>
                <div class='col'>
                  <a href='#'>
                    <img src='../../assets/images/facebook-50.png'>
                  </a>
                </div>
                <div class='col'>
                  <a href='#'>
                    <img src='../../assets/images/google-50.png'>
                  </a>
                </div>
                <div class='col'>
                  <a href='#'>
                    <img src='../../assets/images/twitter-50.png'>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
        <!--Login form popover-->
      </li>
      <li *ngIf='loggedIn'>
        <a href='#' class='nav-link' [ngbPopover]='userMenu' popoverTitle='' placement='bottom'>Hi, {{user.firstName}} <span class="oi oi-caret-bottom"></span></a>
        <ng-template #userMenu>
          <div class='row' class='userMenuSection'>
            <a href='#'>
              <div class="col-md-12 text-center">
                <strong>My Journey</strong>
              </div>
            </a>
          </div>
          <hr>
          <div class='row' class='userMenuSection'>
            <a href='#' (click)='logout()'>
              <div class="col-md-12 text-center">
                <strong>Logout</strong>
              </div>
            </a>
          </div>
        </ng-template>
      </li>
      <!--Dropdown menu-->
    </ul>
  </nav>
</header>