<div class='container-fluid p-0 m-0'>
  
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/images/sushi-2.jpg" class="img-responsive" alt="First slide">
      <div class="carousel-caption display">        
        <div class='row'>
          <div class='col-md-12 bannerA textBlack'>
            <p>Challenge Yourself</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 bannerB textBlack'>
            <p class='journey'>FoodieJournal makes it easy for you to embark <br>
              on a journey to discover new cusines</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 bannerB'>
            <button class='btn btn-default start' (click)='alertLogin();'>Get Started</button>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12 toolTip text-center'>
          <div class="py-2">
            <a class="discover" href="#features">Discover More <span class="oi oi-chevron-bottom"></span></a>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- <ng-template ngbSlide>
        <img src="assets/images/airport.jpg" class="img-responsive" alt="First slide">
        <div class="carousel-caption display">        
          <div class='row'>
            <div class='col-md-12 bannerA textBlack'>
              <p>Challenge Yourself</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 bannerB textBlack'>
              <p class='journey'>FoodieJournal makes it easy for you to embark <br>
                on a journey to discover new cusines</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 bannerB'>
              <button class='btn btn-default start' (click)='alertLogin();'>Get Started</button>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 toolTip text-center'>
            <div class="py-2">
              <a class="discover" href="#features">Discover More <span class="oi oi-chevron-bottom"></span></a>
            </div>
          </div>
        </div>
      </ng-template>

    <ng-template ngbSlide>
        <img src="assets/images/cigalas.jpg" class="img-responsive" alt="First slide">
        <div class="carousel-caption display">        
          <div class='row'>
            <div class='col-md-12 bannerA textBlack'>
              <p>Challenge Yourself</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 bannerB textBlack'>
              <p class='journey'>FoodieJournal makes it easy for you to embark <br>
                on a journey to discover new cusines</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 bannerB'>
              <button class='btn btn-default start' (click)='alertLogin();'>Get Started</button>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 toolTip text-center'>
            <div class="py-2">
              <a class="discover" href="#features">Discover More <span class="oi oi-chevron-bottom"></span></a>
            </div>
          </div>
        </div>
      </ng-template> -->
  </ngb-carousel>
</div>