<!-- Banner -->
<div class='container-fluid p-0 m-0'>
  <ngb-carousel>
    <!-- Primera imagen -->
    <ng-template ngbSlide>
      <img src="assets/images/sushi-2.jpg" class="img-responsive" alt="Random first slide">
      <div class="carousel-caption">
        <div class='row'>
          <div class='col-md-12 BannerHeightB textBlack'>
            <p class='h3'>Challenge Yourself</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 BannerHeightB textBlack'>
            <p>FoodieJournal makes it easy for you to embark on a journey to discover new cusines</p>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-12 BannerHeightA'>
            <button type="button" class="btn">Get started</button>
          </div>
        </div>
      </div>
      <!-- Barrita -->
      <div class='row'>
        <div class='col-md-12 toolTip text-center p-0'>
          <p>Discover More <span class="oi oi-chevron-bottom"> </span></p>
        </div>
      </div>
    </ng-template>
    <!-- Hasta aquí ;)
      <! Segunda imagen 
    <ng-template ngbSlide>
        <img src="assets/images/cigalas.jpg" class="img-responsive"
          alt="Random first slide">
        <div class="carousel-caption">
          <div class='row'>
            <div class='col-md-12 bannerHeightC textBlack'>
              <h3>Challenge Yourself</h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 bannerHeightC textBlack'>
              <p>FoodieJournal makes it easy for you to embark on a journey to discover new cusines</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 BannerHeightA'>
              <button type="button" class="btn">Get started</button>
            </div>
          </div>  
        </div>
         <! Barrita 
         <div class='row'>
            <div class='col-md-12 toolTip text-center p-0' >
              Discover More  <span class="oi oi-chevron-bottom">   </span>
            </div>
          </div>
      </ng-template>
         <! Tercer imagen 
    <ng-template ngbSlide>
        <img src="assets/images/airport.jpg" class="img-responsive"
          alt="Random first slide">
        <div class="carousel-caption">
          <div class='row'>
            <div class='col-md-12 bannerHeightC textBlack'>
              <h3>Challenge Yourself</h3>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 bannerHeightC textBlack'>
              <p>FoodieJournal makes it easy for you to embark on a journey to discover new cusines</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 BannerHeightA'>
              <button type="button" class="btn">Get started</button>
            </div>
          </div>  
        </div>
          <! Barrita 
          <div class='row'>
              <div class='col-md-12 toolTip text-center p-0' >
                Discover More  <span class="oi oi-chevron-bottom">   </span>
              </div>
            </div>
      </ng-template>
    -->
  </ngb-carousel>
</div>