.toolTip{
    vertical-align: middle;
    height: 45px;
    background-color:rgba(0, 0, 0, 0.363);
    position: relative;
    display: inline-block;
    top: -45px;
    margin-bottom: -45px;
    cursor: pointer; 
    border-radius: 0;
    z-index: 1200;
}

.display { top: 80px; }

.bannerA {
    height: 250px;
    font-size: 40px;
    font-weight: bold;
    padding-top: 90px;
}

.bannerB {
    height: 100px;
    padding-top: 25px;
    margin-bottom: 80px;
}

.start {
    color: white;
    margin-left: 15px;
    padding: 14px 60px;
    background-color: #FF503A;
}

.textBlack {
    color: black !important;
    text-shadow: 2px 2px 2px white;
}

.journey { 
    font-size: 20px;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
}

.discover {
    color: white;
    font-size: 15px;
}