<div class="container-fluid ">
    
    <!--  Fila-->
    <div class="row info-bg">
        
        <!--  Columnas-->
        <div class="col-md-4 info-columns p-5 m-0">
            <img src="assets/images/cubiertos.png">
            <div class="p-5">
                <p class='text-center'>Explore the top 5 international cuisines and follow cuisine journeys</p>
            </div>
        </div>
        <div class="col-md-4 info-columns p-5 m-0">
            <img src="assets/images/locacion.png">
            <div class="p-5">
                <p class='text-center'>Receive restaurant recommendations based on your preferences and location</p>
            </div>
        </div>
        <div class="col-md-4 info-columns p-5 m-0">
            <img src="assets/images/chech.png">
            <div class="p-5">
                <p class='text-center'>Complete challenger and track your progress against your selected cuisine journey</p>
            </div>
        </div>
    </div>
</div>
