<div class="container-fluid">
  <header class="header header-style">
    Welcome! Choose a track to get started.
  </header>
  <br>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-2 header" *ngFor='let journey of journey'>
          <ngb-progressbar [value]="value"></ngb-progressbar>
          <div class="info-path"><img class="food-icon" [src]='journey.img'>{{ journey.name }} </div>
          <section class="description"> {{ journey.description }} </section>
          <footer class="duration">Duration: {{ journey.duration }} </footer>
        </div>
        
        <div class="col-md-1"></div>
      </div>
    </div>
  </section>
</div>