.routes {
    margin-top: 15px;
    margin-bottom: 5px;
}

.list { float: right; }
.graph {
    margin-top: 20px;
    margin-bottom: 5px;
}

.accordion { background-color: #F2F2F2; }
.order-button { background-color: white; }

ngb-rating {
    color: #EEC900;
    font-size: 22px;
}

.info {
    padding-top: 10px;
    background-color: #F2F2F2;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.price {
    margin-top: -15px;
    font-size: 15px;
    color: #AAAAAA;
}

.rating { margin-top: -15px; }
.text-small { font-size: 13px; }
.text-medium { font-size: 14px; }
.category { margin-top: -13px; }
.link { color: #3399FF }

.buttons, .map, .gallery { display: block; }
.dropdown { display: none; }

.routeButton {
    margin-left: 15px;
    background-color: white;
    border: 1px solid red;
}

.active {
    background-color: #FF503E;
    color: white;
}

.active-list {
    background-color: #FF503E;
    color: white;
}

@media (max-width: 770px) {
    .buttons, .map, .gallery { display: none; }
    .dropdown { display: block; }
}

@media (max-width: 767px) {
    .next { text-align: center; }
}

.red { color: red; font-weight: bold; }
.green { color: #3BE720; font-weight: bold; }
.blue { color: #3399FF; font-size: 25px; }
.display { display: inline-block; }

.arrow {
    padding-top: 50px;
    padding-bottom: 50px;
}

.circle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    background-color: #FF503E;
    display: inline-block;
}