<div class="container">
  <section class="routes">
    <div class="row">
      <div class="col-md-8 buttons">
        <a *ngFor='let journey of journeys'>
          <button class="btn btn-default routeButton" 
            [routerLink]="['/journeys', journey.name]" 
            [routerLinkActive]='["active"]'>{{ journey.name }}
          </button>
        </a>
      </div>
      
      <div class="dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn routeButton" id="dropPath" ngbDropdownToggle>Select Track</button>
          <div ngbDropdownMenu aria-labelledby="dropPath">
            <a *ngFor='let journey of journeys'>
              <button class="dropdown-item" 
                [routerLink]="['/journeys', journey.name]" 
                [routerLinkActive]='["active-list"]'>{{ journey.name }}
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn routeButton" id="dropMenu" ngbDropdownToggle>Order By</button>
          <div ngbDropdownMenu aria-labelledby="dropMenu">
            <button class="dropdown-item active-list">Most Recent</button>
            <button class="dropdown-item">Highest Rated</button>
            <button class="dropdown-item">Top Reviewed</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="graph">
    <app-grafico 
      [journeyName]='selectedJourney.name' 
      [journeyDescription]='selectedJourney.description' 
      [journeyCompletePercent]=selectedJourney.completionPercentage
      [journeyDuration]='selectedJourney.duration'
      [journeyImage]='selectedJourney.imgUrl'
      [journeyCurrent]='current'>
    </app-grafico>
  </section>
</div>

<div class='container-fluid accordion'>
  <section class="row py-5">
    <div class='col-md-10 offset-md-1 col-sm-12'>
      <ngb-accordion [closeOthers]="true">
        <ngb-panel id="static-{{i+1}}" *ngFor='let task of tasks; let i = index'>
          <ng-template ngbPanelTitle>

            <div (click)='getDetail(task.taskData.id);'>
              <div class="circle" *ngIf="task.completed == false"><span>{{ i + 1 }}</span></div>
              <div class="display" *ngIf="task.completed == true"><span class="oi oi-circle-check blue"></span></div>
              <span> - {{ task.name }}</span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="container" *ngIf='checked1 && checked2'>
              <div class="row">
                <div class="col-md-3">
                  <div class="ml-auto mr-auto">
                    <p class="title">{{ taskDetails.name }}</p>
                    <p class="rating">
                      <ngb-rating [rate]='taskDetails.rating' max='5' readonly=true></ngb-rating>
                      <a class="text-small link" href="{{ taskReview.reviews[0].url }}">{{ taskReview.total }} reviews</a>
                    </p>
                    <p class="price">{{ taskDetails.price }}</p>
                    <p class="text-small category">
                      <li *ngFor='let category of taskDetails.categories'>{{ category.title }}</li></p>
                    <p class="text-small">{{ taskDetails.location.display_address }}</p>
                  </div>
                </div>

                <div class="col-md-2 info">
                  <div class="ml-auto mr-auto">
                    <div>
                      <p class="title">Today:</p>
                        <p class="text-medium rating">
                          {{ taskDetails.hours[0].open[0].start | openHours }} - 
                          {{ taskDetails.hours[0].open[0].end | openHours }}
                        </p>
                      
                      <p class="rating" *ngIf='taskDetails.is_closed == false'>
                        <span class="green">Open now</span>
                      </p>

                      <p class="rating" *ngIf='taskDetails.is_closed == true'>
                          <span class="red">Closed now</span>
                        </p>
                    </div>
                    <hr>
                    <div>
                      <p class="text-medium link">
                        <span class="oi oi-phone"></span>
                        <a class="text-medium link" href="tel:{{ taskDetails.phone }}">{{ taskDetails.display_phone }}</a></p>
                      <p class="text-medium link rating">
                        <span class="oi oi-external-link"></span>
                        <a class="text-medium link" href="{{ taskDetails.url }}"> {{ taskDetails.name }}</a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 gallery">
                  <app-gallery
                    [_photos]='taskDetails.photos'>
                  </app-gallery>
                </div>
              
                <div class="col-md-3 map">
                  <app-google-maps 
                    [_lat]="taskDetails.coordinates.latitude" 
                    [_lng]="taskDetails.coordinates.longitude" 
                    [_businessName]="taskDetails.name">
                  </app-google-maps>
                </div>

                <div class="col-md-1 next">
                  <a class="link" [routerLink]="['/journeys', selectedJourney.name, taskDetails.id]">
                    <span class="oi oi-chevron-right"></span>
                  </a>                    
                </div>
                
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </section>
</div>