.footer {
    text-align: center;
    vertical-align: text-top;
}

.footer-msg {
    font-style: italic;
    color: #C5C5C5;
}

.footer-figure {
    vertical-align: text-top;
}

.img-aowp {
    margin-left: 0px;
}

.img-acc {
    margin-left: 30px;
}